body { behavior:url("css/csshover.htc"); }

.clearfix:after {
  content: ".";
  display: block;
  height:0;
  clear: both;
  visibility:hidden;
}

.clearfix {display: inline-block;}
/* backslash hack hides from IE mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* end backslash hack */

hr {
 width:100%;
}

fieldset ul li{
 list-style:none;
}

ul.inline{
 padding:0;
 margin-left:0.2em;
 display:inline;
}

ul.inline li{
 margin:0;
 list-style-type:none;
 float:left;
}

ul.inline a{
 margin:0 5px 0 0;
 white-space:nowrap;
 float:left;
 text-decoration:none;
}

a.selected{color:#fff;background-color:#a00}
a.cloud{text-decoration:none}

div.clearfloats{clear:both}

div#spinner{
 width:100px;
 height:100px;
 position:absolute;
 right:100px;
}

#main table.zebra{
 caption-side:top;
}

div.vertical_heatmap {
  margin-left:30px;
}

/* drop down menus */
* {margin:0; padding:0;}

div.alertmenu {
  width:100%;
  float:left;
  border-top:1px solid #069;
  border-bottom:1px solid #069;
  font-size:.8em;
  background-color:#F00;
  margin-top:20px;
}

div.alertmenu ul {
  margin:0 0 0 30px;
}

div.alertmenu li {
  float:left;
  position:relative;
  list-style-type:none;
  background-color:#FFA;
  border-right:1px solid #069
}

div.alertmenu li:first-child {
  border-left:1px solid #069;
}

div.alertmenu li:hover {
  background-color:#FFF;
}

div.alertmenu a {
  display:block;
  padding:0 6px;
  text-decoration:none;
  color:#069;
}

div.alertmenu a:hover {
  color:#F00;
}

* html div.alertmenu ul {
  float:left;
  border-left:1px solid #000;
  margin-left:15px;
}

div.alertmenu ul li ul {
  margin:0;
  position:absolute;
  width:10em;
  top:+13px;
  left:-1px;
}

div.alertmenu ul li ul li {
  width:100%;
  border-left:1px solid #069;
  border-bottom:1px solid #069;
  border-right:1px solid #069;
}

div.alertmenu ul li ul li:first-child {
  border-top:1px solid #069;
}

body div#alert ul li ul {display:none;}
div#alert ul li:hover ul, div#alert ul li ul:hover {display:block;}

* html div.alertmenu ul li ul {
  border-top:1px solid #069;
  border-left:0px;
}

body div.alertmenu ul li ul li ul {
  visibility:hidden;
  top:-1px;
  left:10em;
}

div.alertmenu ul li ul li:hover ul { visibility:visible; }

div.alertmenu ul li ul li:hover ul li ul{ visibility:hidden; }

div.alertmenu ul li ul li ul li:hover ul { visibility:visible; }
/* end of drop down menus */


#mpsa_stats ul {
border-bottom:1px solid #4444FF;
list-style-type:none;
-moz-padding-start:40px;
margin:1em 0;
}
#mpsa_stats li {
background:#4444AA none repeat scroll 0 0;
border-color:#4444FF #4444FF -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px medium;
display:inline;
padding:4px;
margin: 5px;
}
#mpsa_stats li.active {
background:#FFFFFF none repeat scroll 0 0;
}
#mpsa_stats li a {
color:#FFFFFF;
font-weight:bolder;
padding:4px;
text-decoration:none;
}
#mpsa_stats li.active a {
color:#4444AA;
}
#mpsa_stats .srtab {
display:none;
}
#mpsa_stats div.active {
display:block;
}
