[% title = 'List of studies'; WRAPPER qsea_wrapper.tt2 -%]

<div id="content">

<div id="menu">
  <div id="links">
    <ul>
      <li><a href="#page_top">Page Top</a></li>
    </ul>
  </div>
</div>

<div id="first_section"  class="text_section">
<ul>

[% FOREACH row IN c.model('WarehouseDB').studies_list().all; -%]
<li> <a href="[% c.uri_for_action(c.controller('Checks').action_for('studies'), row.internal_id) %]">[% row.study_name | html %]</a></li>
[% END -%]
</ul>
</div>

</div>
[% END -%]