[% studies = {}; FOREACH lane_key IN sorted_rl_map_keys -%]
  [%
     lane_collection = rl_map.${lane_key};
     NEXT IF (!lane_collection || lane_collection.size == 0);
     temp = lane_collection.sort;
     to_remove = ['split stats phix', 'spatial filter'];
     IF !run_view.defined || run_view != 1;
       to_remove.push('qX yield', 'gc fraction');
     END;
     trimmed_lane_collection = lane_collection.remove('check_name', to_remove);
     checks = trimmed_lane_collection.results;

     checks.push({check_name => heatmap_check_name, class_name => 'fastqcheck_visuals'});

     trimmed_reference_path = {};
     sequence_mismatch_collection = lane_collection.slice('check_name', 'sequence mismatch');

     IF sequence_mismatch_collection.size > 0;
       trimmed_reference_path = sequence_mismatch_collection.first.reference_for_title;
     END;

     row_info_to = c.stash.row_data.$lane_key  || {};

     provenance = '';
     IF row_info_to.id_library_lims; 
       provenance = ' | ' _ row_info_to.id_library_lims;
       IF row_info_to.sample_name; 
         provenance = provenance _ ' << ' _ row_info_to.sample_name;
         IF row_info_to.study_name; 
           provenance = provenance _ ' << ' _ row_info_to.study_name;
         END;
       END;
     END;
  -%]

  <div class="results_full_lane">
  <h3>[% util.expand_rpt_key(lane_key) %] [% IF provenance.defined %] [% provenance | html %]  [% END -%] <a name="[% lane_key %]"></a></h3>
  [%- IF trimmed_reference_path.species && trimmed_reference_path.version; -%]
    <h4>Reference: [%- trimmed_reference_path.species -%] ([%- trimmed_reference_path.version -%])</h4>
  [%- END -%]

  <div class="results_full_lane_contents">
    [% gt_results_cached=0 %]
    [% FOREACH check IN checks; -%]
      [%- rf_id_attr = '' -%]
      [%- rf_info_attr = '' -%]

      [%- IF check.class_name == 'genotype' -%]	[%# cache any genotype results to allow sorted output %]
        [% ssn=check.snp_call_set %]
        [% gt_checks.$ssn = check %]

        [% gt_results_cached=1 %]
      [% ELSE %] [%# not genotype %]

        [% IF gt_results_cached==1 %]  [%# flush any cached genotype results to display %]
          [% INCLUDE display_cached_genotype_results %]
          [% gt_results_cached=0 %]
        [% END %]  [%# of flushing any cached genotype results to display %]

        [%- IF check.check_name == 'pulldown metrics' -%]
          [%- rf_id_attr = 'id="pdmc_' _ check.id_run _ ':' _ check.position _ ':' _ check.tag_index _ '"' -%]
          [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about pulldown metrics check"/></a>'; -%]
        [%- END -%]
        [%- IF check.check_name == 'upstream tags' -%]
          [%- rf_id_attr = 'id="utc_' _ check.id_run _ ':' _ check.position _ '"' -%]
          [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about upstream tags comparison"/></a>'; -%]
        [%- END -%]
        [%- IF check.check_name == 'tag metrics' -%]
          [%- rf_id_attr = 'id="tmc_' _ check.id_run _ ':' _ check.position _ '"' -%]
          [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about tag metrics check results"/></a>'; -%]
        [%- END -%]
        [%- IF check.check_name == 'tags reporters' -%]
          [%- rf_id_attr = 'id="trc_' _ check.id_run _ ':' _ check.position _ '"' -%]
          [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about tags reporters check"/></a>'; -%]
        [%- END -%]

        [% INCLUDE display_full_check_content check=check %]
      [%- END -%]

    [%- END; -%] [%# of FOREACH %]
  </div>

  </div>
[%- END -%] [%# of FOREACH lane_key %]

[% BLOCK display_full_check_content %]
	<div [% rf_id_attr %] class="result_full">

        <h2>[% util.expand_rpt_key(lane_key) %], [% check.check_name -%] 

	[%- IF check.defined('pass') -%]:
		[% check.pass ? 'passed' : '<span class="result_fail">failed</span>' -%]
	[%- END -%]
	</h2>
  
	<div class="result_full_content">
	[% TRY -%]
		[% PROCESS "ui_checks/${check.class_name}.tt2" -%]
	[% CATCH -%]
	[% CLEAR %]
		[% error.info %]
	[% END; -%]
	</div>
	</div>
[% END %]

[% BLOCK display_cached_genotype_results %]
    [% IF gt_checks.exists('W30467') %]
      [% gck=gt_checks.W30467 %]
      [%- rf_id_attr = 'id="gtrc_' _ gck.snp_call_set _ '_'  _ gck.id_run _ ':' _ gck.position _ ':' _ gck.tag_index _ '"' -%]
      [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about genotype comparison"/></a>'; -%]
      [% INCLUDE display_full_check_content check=gck %]

      [% gt_checks.delete('W30467') %]
    [% END %]
    [% FOREACH plexname IN gt_checks.keys.sort %]	[%# display other results in sorted order %]
      [% gck=gt_checks.$plexname %]
      [%- rf_id_attr = 'id="gtrc_' _ gck.snp_call_set _ '_'  _ gck.id_run _ ':' _ gck.position _ ':' _ gck.tag_index _ '"' -%]
      [%- rf_info_attr = '<a onclick="alert(\'No info here\'); return false;"><img src="/static/images/information.png" alt="Link to information about genotype comparison"/></a>'; -%]
      [%- INCLUDE display_full_check_content check=gck %]
    [% END %]
[% END %]
