[%-
  fnames = c.model('SeqStore').files(util.inflate_rpt_key(lane_key), db_lookup, path_list);
  IF fnames.size;
    use_db = fnames.db_lookup;
    FOREACH key IN fnames.keys.sort;
      IF key != 'db_lookup';
        fname =  fnames.item("$key");
        #action_plot and action_legend are defined in library_lanes
-%]

<img class="fastqcheck_plot" src="[%  c.uri_for_action(action_plot, {path => "$fname", read => "$key", 'db_lookup' => "$use_db"}) | html %]"  alt="visualization for [% fname %]" />
[%- END -%]
[%- END -%]

<img class="fastqcheck_legend" src="[%  c.uri_for_action(action_legend) %]"  alt="legend for the fastqcheck file visualization" />
[%- END -%]
