
[% USE Number.Format(THOUSANDS_SEP=',') %]

[% has_reverse = check.reverse_read_gc_percent.defined -%]

[% IF check.comments -%]
<div class="data_table">
<table title="verify comments">
<tr><th class="laligned">Comments</th><td>[% check.comments %]</td></tr>
</table>
</div>
[%- END %]

<div class="data_table">

<table title="verify_bam_id">
<tr>
  <th class="laligned">Number of SNPs</th> <td>[% check.number_of_snps %]</td>
  <th class="laligned">Average Depth</th> <td>[% check.avg_depth %]</td>
  <th class="laligned">Freemix</th> <td>[% check.freemix %]</td>
  <th class="laligned">FreeLK0</th> <td>[% check.freeLK0 %]</td>
  <th class="laligned">FreeLK1</th> <td>[% check.freeLK1 %]</td>
 [%- IF check.criterion.defined -%]
  <th class="laligned">Pass criterion</th> <td>[% check.criterion FILTER html %]</td>
 [%- END -%]
</tr>
</table>
</div>
