<table id="[% end %]_errrcn" name="[% end %]_errcn" class="sorttable zebra">
  <thead>
    <caption>Error Rate Relative to Reference Cycle and Nucleotide End [% end %]</caption>
    <tr>
      <th>Cycle</th>
      <th>Read As</th>
      <th>Really A</th>
      <th>Really C</th>
      <th>Really G</th>
      <th>Really T</th>
    </tr>
  </thead>
  <tbody>
    [% FOREACH row = tile.error_rate_relative_reference_cycle_nucleotide %]<tr>
      <td>[% row.cycle %]</td>
      <td>[% row.read_as %]</td>
      <td>[% row.really_a %]</td>
      <td>[% row.really_c %]</td>
      <td>[% row.really_g %]</td>
      <td>[% row.really_t %]</td>
    </tr>
  [% END %]</tbody>
</table>
