[% SET run_info_xml = model.run_info_xml %][% IF run_info_xml %][% run_info_xml %][% ELSE %]<?xml version="1.0" encoding="utf-8"?>
<RunInfo>
There is no run info xml file stored for this run [% model.id_run %]
</RunInfo>
[% END %]
