
<h2>run_configs </h2>
<table id="run_config_list">
  <caption>run_config list</caption>
  <thead>
    <tr><th>config_text</th><th>id_run</th><th>id_run_config</th></tr>
  </thead>
  <tbody>
[% FOREACH run_config = model.run_configs %]
<tr>
  <td>[% run_config.config_text %]</td><td>[% run_config.id_run %]</td><td>[% run_config.id_run_config %]</td>
  <td>[<a href="[% SCRIPT_NAME %]/run_config/[% run_config.id_run_config %]">details</a>]</td>
</tr>
[% END %]
  </tbody>
</table>

 
