<!-- start: $Id$ -->
<h2>Rescore Info for Run [% model.run_tile.id_run %] Position [% model.run_tile.position %] Tile [% model.run_tile.tile %]</h2>
[% IF model.run_tile.other_end_tile %][% SET other_end_tile = model.run_tile.other_end_tile %][% END %]
<div style="float:left;">
<table id="tile_first_end" name="tile_first_end" class="zebra">
  <caption>Rescore info[% IF other_end_tile %] for first end[% END %]</caption>
  <thead>
    <th>Information</th>
    <th>Value</th>
  </thead>
  <tbody>
   <tr>
    <th>Base Count</th>
    <td>[% model.base_count %]</td>
   </tr>
   <tr>
    <th>Error Count</th>
    <td>[% model.error_count %]</td>
   </tr>
   <tr>
    <th>Blank Count</th>
    <td>[% model.blank_count %]</td>
   </tr>
   <tr>
    <th>Unique Alignments</th>
    <td>[% model.unique_alignments %]</td>
   </tr>
   <tr>
    <th>UA Total Score</th>
    <td>[% model.ua_total_score %]</td>
   </tr>
   <tr>
    <th>Cycles</th>
    <td>[% model.cycles %]</td>
   </tr>
   <tr>
    <th>Rescore</th>
    <td>[% model.rescore %]</td>
   </tr>
   <tr>
    <th>Score Version</th>
    <td>[% model.score_version %]</td>
   </tr>
   <tr>
    <th>Score Date Run</th>
    <td>[% model.score_date_run %]</td>
   </tr>
   <tr>
    <th>PhageAlign Version</th>
    <td>[% model.phagealign_version %]</td>
   </tr>
   <tr>
    <th>PhageAlign Date Run</th>
    <td>[% model.phagealign_date_run %]</td>
   </tr>
   <tr>
    <th>Max Blanks</th>
    <td>[% model.max_blanks %]</td>
   </tr>
   <tr>
    <th>Seq Length</th>
    <td>[% model.seq_length %]</td>
   </tr>
   <tr>
    <th>Genome File</th>
    <td>[% model.genome_file %]</td>
   </tr>
   <tr>
    <th>Bases Used</th>
    <td>[% model.bases_used %]</td>
   </tr>
   <tr>
    <th>QualityFilter Version</th>
    <td>[% model.qualityfilter_version %]</td>
   </tr>
   <tr>
    <th>QualityFilter Date Run</th>
    <td>[% model.qualityfilter_date_run %]</td>
   </tr>
   <tr>
    <th>Filter Criterion</th>
    <td>[% model.filter_criterion %]</td>
   </tr>
  </tbody>
</table>
</div>
[% IF other_end_tile %]
[% SET second = other_end_tile.tile_rescore %]
<div style="float:left;">
<table id="tile_first_end" name="tile_first_end" class="zebra">
  <caption>Rescore info for second end</caption>
  <thead>
    <th>Information</th>
    <th>Value</th>
  </thead>
  <tbody>
   <tr>
    <th>Base Count</th>
    <td>[% second.base_count %]</td>
   </tr>
   <tr>
    <th>Error Count</th>
    <td>[% second.error_count %]</td>
   </tr>
   <tr>
    <th>Blank Count</th>
    <td>[% second.blank_count %]</td>
   </tr>
   <tr>
    <th>Unique Alignments</th>
    <td>[% second.unique_alignments %]</td>
   </tr>
   <tr>
    <th>UA Total Score</th>
    <td>[% second.ua_total_score %]</td>
   </tr>
   <tr>
    <th>Cycles</th>
    <td>[% second.cycles %]</td>
   </tr>
   <tr>
    <th>Rescore</th>
    <td>[% second.rescore %]</td>
   </tr>
   <tr>
    <th>Score Version</th>
    <td>[% second.score_version %]</td>
   </tr>
   <tr>
    <th>Score Date Run</th>
    <td>[% second.score_date_run %]</td>
   </tr>
   <tr>
    <th>PhageAlign Version</th>
    <td>[% second.phagealign_version %]</td>
   </tr>
   <tr>
    <th>PhageAlign Date Run</th>
    <td>[% second.phagealign_date_run %]</td>
   </tr>
   <tr>
    <th>Max Blanks</th>
    <td>[% second.max_blanks %]</td>
   </tr>
   <tr>
    <th>Seq Length</th>
    <td>[% second.seq_length %]</td>
   </tr>
   <tr>
    <th>Genome File</th>
    <td>[% second.genome_file %]</td>
   </tr>
   <tr>
    <th>Bases Used</th>
    <td>[% second.bases_used %]</td>
   </tr>
   <tr>
    <th>QualityFilter Version</th>
    <td>[% second.qualityfilter_version %]</td>
   </tr>
   <tr>
    <th>QualityFilter Date Run</th>
    <td>[% second.qualityfilter_date_run %]</td>
   </tr>
   <tr>
    <th>Filter Criterion</th>
    <td>[% second.filter_criterion %]</td>
   </tr>
  </tbody>
</table>
</div>

[% END %]
<div class="clearfloats"></div>
<script type="text/javascript">
document.title='Tile [% model.run_tile.id_run %] [% model.run_tile.position %] [% model.run_tile.tile %] Rescore Info';
Event.observe(window,'load',things_to_do_on_load());
function things_to_do_on_load() {
  back();
}
[% PROCESS tile_score_back_function.tt2 %]
</script>
<!-- end: $Id$ -->
