<!-- start: $Id$ -->
function back() {
  var actions = document.getElementById('actions');
  var NewLI = document.createElement('LI');
  NewLI.innerHTML = '<a href="[% SCRIPT_NAME %]/tile_score/?id_run=[% model.run_tile.id_run %]">[Back]</a>';
  actions.appendChild(NewLI);
}
<!-- end: $Id$ -->
